<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New User</title>
</head>
<body>

<h1>Sign Up For Rehearsal Finder!</h1>
<hr>
<br>

<form action="/add-user" method="post">
<input type="text" placeholder="First Name" name="firstName" required/>
<input type="text" placeholder="Last Name" name="lastName" required/>
<input type="email" placeholder="Email" name="email" required/>
<input type="password" placeholder="Password" name="password" required/>
<input type="date" placeholder="Birthday" name="birthday" required/>
<button type="submit">Sign Up!</button>
</form>


</body>
</html>